@font-face {
    font-family: "Objective Bold";
    src: url("../../scss/fonts/Objective-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "Objective Light";
    src: url('../../scss/fonts/Objective-Light.woff2') format("woff2");
}

@font-face {
    font-family: "Objective Medium";
    src: url('../../scss/fonts/Objective-Medium.woff2') format("woff2");
}

@font-face {
    font-family: "Objective Reg";
    src: url('../../scss/fonts/Objective-Regular.woff2') format("woff2");
}