//Fonts
$bold: "Objective Bold";
$medium: "Objective Medium";
$regular: "Objective Reg";
$light: "Objective Light";

//Colors
$main_blue: #4A99D3;
$main_dark: #260041;

//Dead space
$content_width: 950px;
